asa_server_node_api/bin/
asa_server_node_api/obj/
asa_server_node_api/tools/tailwindcss
asa_server_node_api/Data/*.db
asa_server_node_api/Data/*.db-shm
asa_server_node_api/Data/*.db-wal
asa_server_node_api/Data/*.sqlite
asa_server_node_api/Data/*.sqlite-shm
asa_server_node_api/Data/*.sqlite-wal
asa_server_node_api/Data/*.sqlite3
asa_server_node_api/Data/*.sqlite3-shm
asa_server_node_api/Data/*.sqlite3-wal
serverwebapp/bin/
serverwebapp/obj/
appsettings.json
appsettings.Development.json
